extends ../../layout/default.pug

block main
  h1.mb-4 Thêm mới sản phẩm

  form(
    action=`${prefixAdmin}/products/create`
    id="form-create-product"
    method="POST"
  )
    .form-group
      label(for="title") Tiêu Đề
      input.form-control(
        type="text"
        id="title"
        name="title"
        required
      )

    .form-group
      label(for="description") Mô tả
      textarea.form-control(
        id="description"
        name="description"
        rows="5"
      )

    .form-group
      label(for="price") Giá
      input.form-control(
        type="number"
        id="price"
        name="price"
        value="0"
        min="0"
      )

    .form-group
      label(for="discountPercentage") %Giảm giá
      input.form-control(
        type="number"
        id="discountPercentage"
        name="discountPercentage"
        value="0"
        min="0"
      )

    .form-group
      label(for="stock") Số lượng
      input.form-control(
        type="number"
        id="stock"
        name="stock"
        required
      )

    .form-group
      label(for="thumbnail") Ảnh (URL)
      input.form-control(
        type="text"
        id="thumbnail"
        name="thumbnail"
      )

    .form-group
      label(for="position") Vị trí
      input.form-control(
        type="number"
        id="position"
        name="position"
        placeholder="Tự động tăng nếu bỏ trống"
        min="1"
      )

    .form-group
      label Trạng thái
      .form-check.form-check-inline
        input.form-check-input(
          type="radio"
          id="statusActive"
          name="status"
          value="active"
          checked
        )
        label.form-check-label(for="statusActive") Hoạt Động
      .form-check.form-check-inline
        input.form-check-input(
          type="radio"
          id="statusInactive"
          name="status"
          value="inactive"
        )
        label.form-check-label(for="statusInactive") Dừng Hoạt Động

    button.btn.btn-primary.mt-3(type="submit") Tạo mới

  script(src="/admin/js/product.js")
